@import "tailwindcss";
@plugin "daisyui";

.chat {
  --color-primary: #2877d0;
  --color-primary-content: #ffffff;
  --color-secondary: #AEB9CC;
  --color-secondary-content: #000000;

  .chat-bubble {
    --radius-field: 0.5rem
  }

  .chat-bubble-primary::before {
    inset-inline-start: -0.6rem;
  }
}