@import "tailwindcss";
@plugin "daisyui";

.chat {
  --color-primary: #2877d0;
  --color-primary-content: #ffffff;
  --color-secondary: #aeb9cc;
  --color-secondary-content: #000000;

  .chat-bubble {
    --radius-field: 0.5rem;
  }

  .chat-bubble-secondary::before {
    inset-inline-start: -0.6rem;
  }

  pre {
    white-space: pre-wrap;
  }
}
